h1 {
    color: #ff69b4;
  }
 

/* pre {
  margin-bottom: 3px;
  padding: 0px;
} */
#textFrag, #fragId {
  margin-bottom: 3px;
}
#textFrag{
  width: 50%;
}  

#firstSection span {
  height: 100%;
  display: inline;
  overflow: hidden;
  padding-left: 0px
} 

#fragmentType{
 height: 34;
}

select {
  width: 120px;
  margin-right: 10px;
}
 #dropDown {
  height: 100%;
  width: 100%;
  text-align: center;
  display: inline;    
} 

table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  border: 1px solid #eceff4;
  padding: 8px;
  text-align: left;
}


table {
  border-collapse: collapse;
  color:white;
}

tr:nth-child(odd) {
  background-color: rgb(44, 4, 219);
}

.empty-cell {
  background-color: #eceff4;
}


